

<h3>Add a New Book To The Library</h3>



<form action="/books/create-new-book" method="POST">

<label>Title</label>
<input name="theTitle" type="text">

<label>Author</label>
{{!-- <input name="theAuthor" type="text"> --}}
<select name="theAuthor" >

    {{#each authors}}

    <option value="{{this._id}}">{{this.name}}</option>

    {{/each}}

</select>

<label>Descritpion</label>
<input name="theDescription" type="text">

<label>Rating</label>
<input name="theRating" type="number">


<button> Save </button>


</form>