<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if success}}
  <h3>{{success}}</h3>
{{/if}}


{{#if msg}}
  <h3>{{msg}}</h3>
  <img class="errorMsgImage" src="https://www.thelostogle.com/wp-content/uploads/2018/08/donkey-.jpeg" alt="donkey image">
{{/if}}
