
body{
    background-color: bisque;
    color: blue;
}


img{
    width: 250px;
}


.blue{
    border: 5px solid blue;
    margin: 10px;
}


.red{
    border: 5px solid red;
    margin: 10px;
}


.green{
    border: 5px solid green;
    margin: 10px;
}

.blah-partial{
    width: 500px;
    height: 600px;
    float: left;
}