

{{#each authors}}

<h2>{{this.name}}</h2>

<p>Born in {{this.birthplace}} on {{this.birthday}}</p>

<img src="{{this.image}}">

<p>----------------------------------------------------</p>


{{/each}}