


<h2>Add New Author To Database</h2>


<form action="/authors/create-the-author" method="POST">

    <label>Name</label>
    <input type="text" name="authorName">

    <label>Birthday</label>
    <input type="text" name="birthDay">

    <label>Birth Place</label>
    <input type="text" name="birthPlace">

    <label>Image</label>
    <input type="text" name="img">

    <button>Save Author</button>

</form>