
<h2>Reset Password</h2>


<form action="/password-update/update" method ="POST">


<label>Please Choose New Password</label>
<input type="password" name="newPassword">

<label>Repeat Password</label>
<input type="password" name="confirm">


<input type="hidden" value={{userid}} name="id">


<button>Save</button>
</form>