<h2>Signup</h2>


<form action="/signup" method="POST">

<label>Pick A Username</label>
<input type="text" name="theUsername">


<label>Password</label>
<input type="text" name="thePassword">


<label>Email</label>
<input type="email" name="theEmail">


<button>Save</button>
</form>



<br>
<br>
<br>
<br>
<a href="/auth/google">Sign Up With Google</a>