

        {{!-- <a href="/">Home</a>
        <a href="/photos">Gallery Page</a>

        {{#if thePerson.wolfGuy}}
        <a href="/about/wolf-girl">Wolf Girl</a>
        {{else}}
        <a href="/about/wolf-guy">Wolf Guy</a>
        {{/if}}      --}}


    <h2>About {{thePerson.name}}</h2>

    <img src="{{thePerson.img}}" alt="">


    <p>{{thePerson.bio}}</p>
    
