

    {{!-- <a href="/">Home</a>
        <a href="/about/wolf-guy">About Wolf Guy</a>
        <a href="/about/wolf-girl">About Wolf Girl</a> --}}


    <h2>this is a gallery</h2>

    {{#each photos}}

    {{>_wolfPartial}}
  
    {{/each}}
    
  

