<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example Site</title>

    <link rel="stylesheet" href="/styles/blah.css">

  </head>
  <body>


        <a href="/">Home</a>
        <a href="/photos">Gallery Page</a>
        <a href="/about/wolf-girl">Wolf Girl</a>
        <a href="/about/wolf-guy">Wolf Guy</a>
          


    {{{ body }}}


  </body>
</html>