
<h3>Add New Wolf</h3>


<form action="/create-wolf" method="POST" enctype="multipart/form-data">

<p>Name</p>
<input type="text" name="name">

<p>HomeTown</p>
<input type="text" name="homeTown">

<input type="file" name="thePic">

<p>Bio</p>
<textarea name="bio" id="" cols="50" rows="20"></textarea>




<button>Submit</button>



</form>