<h2> Lets Create a Celeb </h2>

<form id="createCelebForm" action="/celeb/create" method="post">
  <label for="nameInput"> Actor Name </label>
  <input id="nameInput" type="text" name="name" placeholder="Michael Myers">

  <label for="occupationInput"> Occupation </label>
  <input id="occupationInput" type="text" name="occupation" placeholder="Hunter">

  <label for="catchPhraseInput"> Catch Phrase </label>
  <input id="catchPhraseInput" type="text" name="catchPhrase" placeholder="I See You!">

  <button> Save </button>
</form>
