.card{
    border-radius: 7px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.reg-card{
    background-color: #e6e6e6;
    border: 5px solid black;
}

.gold-card{
    border: 5px solid #e6e6e6;
    background-color: #cfb87c;
}


.card > img{
    width: 250px;
    border-radius: 5px;
}

