<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="big">


        <div class="new-animal-form">

            <div>
                <label>Type of Animal</label>
                <input id="type" type="text">
            </div>

            <div>
                <label>Animal's First Name</label>
                <input id="name" type="text">
            </div>

            <div>
                <label>How much of a goodboy/goodgirl? Scale from 1-10</label>
                <input id="good" type="number">
            </div>


            <button id="new-animal-button">Submit new animal</button>



        </div>


        <div>

            <ul id="animal-list">

            </ul>

           
        </div>

</div>