<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
    <a href="/books">List Of Books</a>

    <a href="/books/new">Create New</a>

    <a href="/authors">See Authors</a>

    <a href="/authors/create-new">Add New Author</a>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
