.active{
  background-color: blue;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

a{
  text-decoration: none;
}

.full-page{
  display: flex;
  justify-content: space-around;
}

.right-column{
  padding-top: 100px;
}