<h2>This is the homepage</h2>

<h3>Users On The Site</h3>


<ul>
    <a href="/users/coolWolf55"> 
        <li> Cool Wolf
        </li>
    </a>


    <a href="/users/coolBoy55">
        <li> Cool Boy
        </li>
    </a>


    <a href="/users/cathySuper">
        <li> Kathy Super
        </li>
    </a>

    <a href="/users/uncoolwolf77">
        <li> Uncool Wolf
        </li>
    </a>


</ul>